<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 animate__animated animate__bounceInDown">Acerca de mí</h1>
      <div class="row justify-content-between lead animate__animated animate__fadeInLeft">
        <div class="col-5">
            <br>Mi nombre es Génesis Daniela Solano Ordóñez y tengo 20 años de edad. Nací un 7 de diciembre de 2003 en la ciudad de El Guabo, ubicada en la provincia de El Oro, en la República del Ecuador. Actualmente vivo con mis padres y curso el quinto semestre de la carrera de Tecnologías de la Información en la Universidad Técnica de Machala.
        </div>
        <div class="col-6">
            <br>Esta carrera me ha permitido sumergirme en el mundo de la tecnología y descubrir mis intereses por el desarrollo de software y las soluciones innovadoras. Desde que tengo uso de razón, el mundo de las computadoras y la tecnología ha despertado mi curiosidad. Cuando apenas era una niña, ya sentía una pasión hacia estos dispositivos que parecían realizar cualquier instrucción con solo presionar algunos botones.
        </div>
        <div style="text-align: center;">
          <br><br><img src="assets/img/utmach.jpg" alt="" width="1200px" height="700px">
        </div>
      </div>
    </div>
  </div>