<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 animate__animated animate__zoomIn">Comics App</h1>
      <p class="lead animate__animated animate__fadeInLeft">Esto es una app sobre comics.</p>
      <p class="lead animate__animated animate__fadeInLeft" style="text-align: justify;">
      <br> Los cómics han sido una parte importante de la cultura popular durante décadas y tienen varias razones por las cuales son importantes:
      <li> Entretenimiento: Los cómics proporcionan entretenimiento a personas de todas las edades. Son una forma de escapismo, permitiendo a los lectores sumergirse en mundos imaginarios llenos de aventuras, acción y fantasía.
        <li>Narrativa visual: Los cómics son una forma única de contar historias que combina texto e imágenes. Esta combinación permite una narrativa visual poderosa que puede transmitir emociones, acciones y detalles de manera efectiva.
          <li>Exploración de temas: Los cómics a menudo exploran temas importantes como la justicia, la moralidad, la identidad, la lucha contra el mal y la superación de obstáculos. A través de estas historias, los lectores pueden reflexionar sobre cuestiones relevantes de la vida real y encontrar inspiración en los personajes y sus acciones.
            <br><br> Marvel y DC son dos de las editoriales de cómics más grandes e influyentes del mundo:
            <br><br> Marvel Comics: Fundada en 1939 como Timely Publications y luego renombrada como Marvel Comics en los años 60, Marvel es conocida por crear un vasto universo compartido de superhéroes, incluyendo personajes icónicos como Spider-Man, Iron Man, Hulk, Thor, Captain America y los X-Men. Marvel se ha destacado por su enfoque en personajes con defectos humanos y problemas personales, así como por su diversidad de personajes.
            <br><br> DC Comics: Fundada en 1934 como National Allied Publications, DC es conocida por crear algunos de los superhéroes más emblemáticos de la historia del cómic, como Superman, Batman, Wonder Woman, The Flash y Green Lantern. DC se ha destacado por sus historias épicas y su enfoque en la mitología moderna, explorando temas de heroísmo, justicia y redención.
          </p>
          <div class="animate__animated animate__fadeInLeft" style="text-align: center;">
            <img src="assets/img/marvel&dc.jpg" alt="" width="1000px" height="500px">
          </div>
    </div>
  </div>

  
